<%- include('../partials/header') %>

<form action="/teams/show" method="POST">
<section id="home">
    <table id="list">
  <thead>
      <label for="afc teams">AFC/NFC Teams</label>
      <select name="name">
            <option value=""></option>
          <option value="Baltimore Ravens">AFC-Baltimore Ravens</option>
          <option value="Buffalo Bills">AFC-Buffalo Bills</option>
          <option value="Cincinnati Bengals">AFC-Cincinnati Bengals</option>
          <option value="Cleveland Browns">AFC-Cleveland Browns</option>
          <option value="Denver Broncos">AFC-Denver Broncos</option>
          <option value="Houston Texans">AFC-Houston Texans</option>
          <option value="Indianapolis Colts">AFC-Indianapolis Colts</option>
          <option value="Jacksonville Jaguars">AFC-Jacksonville Jaguars</option>
          <option value="Kansas City Chiefs">AFC-Kansas City Chiefs</option>
          <option value="LA Chargers">AFC-Los Angeles Chargers</option>
          <option value="Miami Dolphins">AFC-Miami Dolphins</option>
          <option value="New England Patriots">AFC-New England Patriots</option>
          <option value="New York Jets">AFC-New York Jets</option>
          <option value="Oakland Raiders">AFC-Oakland Raiders</option>
          <option value="Pittsburgh Steelers">AFC-Pittsburgh Steelers</option>
          <option value="Tennessee Titans">AFC-Tennessee Titans</option>
          <option value="Arizona Cardinals">NFC-Arizona Cardinals</option>
          <option value="Atlanta Falcons">NFC-Atlanta Falcons</option>
          <option value="Carolina Panthers">NFC-Carolina Panthers</option>
          <option value="Chicago Bears">NFC-Chicago Bears</option>
          <option value="Dallas Cowboys">NFC-Dallas Cowboys</option>
          <option value="Detroit Lions">NFC-Detroit Lions</option>
          <option value="Green Bay Packers">NFC-Green Bay Packers</option>
          <option value="LA Rams">NFC-Los Angeles Rams</option>
          <option value="Minnesota Vikings">NFC-Minnesota Vikings</option>
          <option value="New Orleans Saints">NFC-New Orleans Saints</option>
          <option value="New York Giants">NFC-New York Giants</option>
          <option value="Philadelphia Eagles">NFC-Philadelphia Eagles</option>
          <option value="San Francisco 49ers">NFC-San Francisco 49ers</option>
          <option value="Seattle Seahawks">NFC-Seattle Seahawks</option>
          <option value="Tampa Bay Buccaneers">NFC-Tampa Bay Buccaneers</option>
          <option value="Washington Redskins">NFC-Washington Redskins</option>
     </select>
     <input type="submit" value="Submit">
    </section>
     
        
</form>
  </thead>
  <tbody>
   
    </tbody>

</body>
</html>

