<%- include('../partials/header') %>

<h3>Game Review</h3>

    <form id="add" action="teams/review" method="POST">
        <input type="text" name="team review" required>
        <button type="submit">Add Comment</button>
</form>

<title><%= title %></title>

